[user]
	name = Joseph Piron
	email = joseph.piron@gmail.com
[core]
	quotepath = false
	#editor = subl -n -w
	excludesfile = ~/.gitignore_global

[merge]
	tool = sublime

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =

[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = simple
[pull]
	rebase = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	ci = commit
	co = checkout
	br = branch
	co = checkout
	st = status
	lg = log --graph --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s   %Cgreen(%an %ar)%Creset'

[color]
	ui = auto

[credential]
	helper = osxkeychain
[mergetool "sublime"]
	cmd = subl -w $MERGED
	trustExitCode = false
